html{
	height: 10000%;
	width:100%;
}

body{
	height:100%;
	background-color:black;
	font-family: 'Source Code Pro', sans-serif;
}

body::-webkit-scrollbar { 
/*	display: none; 
*/}

h1{
	color:white;
	font-size:150px;
	display: inline;
}

.barContainer{
	width:100%;
	height:100%;
	position:fixed;
}

.bar{
	width:100%;
	height:25%;
	display: inline-block;
	text-align:center;
}

#bc1 h1{
	text-shadow:5px 5px 5px white;
	color:rgba(0,0,0,0);
}

#bc2 h1{
	text-shadow:25px 25px 25px white;
	color:rgba(0,0,0,0);

}

#bc3 h1{
	text-shadow:45px 45px 45px white;
	color:rgba(0,0,0,0);
}
