body{
	width:100%;
	font-family:Arial;
	text-align: center;
	font-family: 'Source Code Pro', sans-serif;

}

h1::selected{
	background-color: black;
	color:blue;
}

.container{
	padding-top:50px;
	color:white;

}

.container h1{
	font-size:72px;
	letter-spacing:4px;
}


.container p{
	font-size:14px;
	letter-spacing:2px;
}
