html{
	width:100%;
	height:100%;
}

body{
	width:100%;
	text-align: center;
	font-family: 'Source Code Pro', sans-serif;
	background-color: black;
	background-image:url('background.jpg');
	background-size:cover;
	overflow:hidden;

}

.block{
	background-color: blue;
	float: left;
}

.block_container{
	width:101%;
	height:101%
	background-color: blue;
}

.transparent{
	background-color: yellow;
}

