html{
	height: 20000%;
	width:100%;
}

body{
	height:100%;
	font-family: 'Source Code Pro', sans-serif;

background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 14%, rgba(255,255,255,1) 19%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 49%, rgba(0,0,0,1) 61%, rgba(0,0,0,1) 73%, rgba(255,255,255,1) 76%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(14%,rgba(0,0,0,1)), color-stop(19%,rgba(255,255,255,1)), color-stop(27%,rgba(0,0,0,1)), color-stop(36%,rgba(0,0,0,1)), color-stop(49%,rgba(255,255,255,1)), color-stop(61%,rgba(0,0,0,1)), color-stop(73%,rgba(0,0,0,1)), color-stop(76%,rgba(255,255,255,1)), color-stop(80%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 14%,rgba(255,255,255,1) 19%,rgba(0,0,0,1) 27%,rgba(0,0,0,1) 36%,rgba(255,255,255,1) 49%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 73%,rgba(255,255,255,1) 76%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 14%,rgba(255,255,255,1) 19%,rgba(0,0,0,1) 27%,rgba(0,0,0,1) 36%,rgba(255,255,255,1) 49%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 73%,rgba(255,255,255,1) 76%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 14%,rgba(255,255,255,1) 19%,rgba(0,0,0,1) 27%,rgba(0,0,0,1) 36%,rgba(255,255,255,1) 49%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 73%,rgba(255,255,255,1) 76%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 14%,rgba(255,255,255,1) 19%,rgba(0,0,0,1) 27%,rgba(0,0,0,1) 36%,rgba(255,255,255,1) 49%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 73%,rgba(255,255,255,1) 76%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}

body::-webkit-scrollbar { 
/*	display: none; 
*/
}

h1{
	font-size:1000px;
	display: inline;
}

.glyph{
	text-align: center;
	width:1000px;
	height:1000px;
	margin:auto;
	position:fixed;
	top: 0;right: 0;bottom: 0;left: 0;
	$(currentGlyph).css('text-shadow','0px 0px 110px white');
	color:rgba(0,0,0,0);
}

#g1{
	-webkit-transform:rotate(-90deg);
}